/* Base Styles */
body {
    margin: 0;
    padding: 0;
}

.section-tall {
    height: 1000px;
    background-color: rgb(146, 146, 146);
    padding: 15px;
}

.container-fluid {
    background-color: rgb(146, 146, 146);
    padding-left: 0px 0px;
}

.section-tall, .menu-item {
    padding: 0;
    margin-bottom: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Navigation bar is not fixed and scrolls with page */
.navbar {
    position: relative;
    border: none;
    margin-bottom: 0;
    background-color: #363636; /* Medium gray to match mockup */
    padding-left: 0; /* Remove left padding */
    padding-right: 0

}

.navbar-brand {
    float: left;
    font-size: 1.5em;
    padding: 10px 15px;
    color: #000000; /* Black text for contrast on lightgrey */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#bs-example-navbar-collapse-1 {
    background-color: white;
}

/* 
.navbar-toggle {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  } */

  .navbar-toggle .icon-bar {
    display: block; 
    width: 22px; 
    height: 3px; 
    background-color: black;
    margin: 4px 0; 
  }

  .navbar-brand {
    color: black;
  }


/* Dropdown menu style */
  .navbar-collapse { 
    background-color: #ffffff;
    width: 100%; 
    padding: 0;
}

.navbar-collapse.collapsing {
    transition: height 0.35s ease;
  }

  .navbar-nav {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .navbar-nav li {
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    margin: 0;
} 

.navbar-nav li:first-child {
    border-top: none;
}

.navbar-nav li:last-child {
    border-bottom: none;
}


.navbar-nav li a {
    text-align: center !important;
    color: #000000; /* Black text for contrast on white background */
    padding: 15px 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100% !important; /* Force full width */
    display: block;
}

.section-tall p {
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* MEDIA QUERIES */
/* Mobile (xs) */
@media (max-width: 767px) {
    .navbar-collapse {
        width: 100%;
    }

    /* style dropdown */
    .navbar-nav li a {
        font-size: 1.5em;
    }

    .section-tall {
        padding: 15px;
        font-size: 1.5em;
    }
}

/* Tablet (sm) */

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-toggle {
        display: none;
    }


    .section-tall {
        font-size: 1.8em;
        padding: 50px;
    }


}

/* Desktop (md) */
@media (min-width: 992px) {
    .navbar-toggle {
        display: none;
    }

    /* style chicken heading  */
    .section-tall {
        padding: 70px;
    }
}